@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

body{
  font-family: "Source Sans Pro";
}
.line {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash2 5s linear infinite;
}
@keyframes dash2 {
  to { stroke-dashoffset: -300;}
}